[submodule "server/projects/amber"]
	path = server/projects/amber
	url = git://github.com/NicolasPetton/amber.git
[submodule "server/pharo/projects/filetree"]
	path = server/pharo/projects/filetree
	url = git://github.com/dalehenrich/filetree.git
[submodule "server/pharo/projects/amber-server"]
	path = server/pharo/projects/amber-server
	url = git://github.com/dalehenrich/amber-server.git
[submodule "server/pharo/projects/Cypress"]
	path = server/pharo/projects/Cypress
	url = git://github.com/CampSmalltalk/Cypress.git
[submodule "server/projects/amber-cypress"]
	path = server/projects/amber-cypress
	url = git://github.com/CampSmalltalk/amber-cypress.git
